@model Sloth.Entities.Concrete.Slider

@{
    Sloth.Entities.SlothContext db = new Sloth.Entities.SlothContext();

    ViewBag.Title = "Delete";
    Layout = "~/Areas/Admin/Views/Shared/_MainLayout.cshtml";
}

@using (Html.BeginForm())
{

    <!-- PAGE CONTENT WRAPPER -->
    <div class="page-title">
        <h2><span class="fa fa-arrow-circle-o-left"></span> Slider Sil</h2>
    </div>

    <form class="form-horizontal">
        @Html.HiddenFor(model => model.Id)

        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title"><strong>Slider</strong> Sil ?</h3>
                <ul class="panel-controls">
                    <li><a href="~/Admin/Sliders"><span style="color:#ff6a00" class="fa fa-arrow-left"></span></a></li>
                </ul>
            </div>
            <div class="panel-body">
                <p>
                    Bu Sliderı Silmek İstediğinizden Emin misiniz ?
                </p>
            </div>

            <div class="panel-body">

                <div class="row">

                    <div class="col-md-6">


                        <div class="form-group">
                            <label class="col-md-3 control-label"> Slider Başlık</label>
                            <div class="col-md-9">
                                <div class="input-group">
                                    @Html.DisplayFor(model => model.Title)
                                </div>
                                <br />
                            </div>
                        </div>

                    </div>

                </div>

            </div>
            <br /> <br />
            <div class="panel-footer">
                <button type="submit" class="btn btn-danger pull-right">Sil</button>
            </div>
        </div>
    </form>

    <!-- END PAGE CONTENT WRAPPER -->
}